<div class="right-side">
  <div class="ad-first">
    <!----------------에드센스 설정 cdn----------------------->
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <!-- 수직형 -->
    <!-- <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1541746005391474"
        data-ad-slot="5305776078"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->
    <!----------------에드센스 설정 cdn----------------------->
  </div>
  <br />
  <br />
  <div class="ad-second">
    <!----------------에드센스 설정 cdn----------------------->
    <!-- <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script> -->
    <!-- 수직형 -->
    <!-- <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-1541746005391474"
      data-ad-slot="5305776078"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->
    <!----------------에드센스 설정 cdn----------------------->
  </div>
</div>
